*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*********************************
            HEADER
*********************************/


/*********************************
            HEADER
*********************************/

.nav-bar {
    background-color: mediumaquamarine;
}

.nav-bar__nav-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.nav-bar__nav-item {
    background-color: pink;
}

.nav-bar__nav-link {
    display: block;
    background-color: purple;
    color: #fff;
    padding: 1em 2em;
    text-decoration: none;
}