.section-footer {
    display: block;
    margin-top: 30px;
    padding: 1em;
    background-color: #30332E;
    color: #62BBC1;
}

.section-footer-legal {
    text-align: center;
    color: whitesmoke;
}

.footer {
    display: flex;
    justify-content: space-around;
    bottom: 0;

    &__icons {
        display: flex;
        position: relative;
        top: 20px;
        flex-direction: row;
        justify-content: flex-end;
    }
}