*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: #010400;
}

a {
    text-decoration: none;
    color: #62BBC1;
}