.section-form {
    background-color: #010400;
    padding: 1em;
    overflow-x: hidden; 

    &__header {
        color: #62BBC1;
        margin: 5px;
    }
}

.form-container {
    display: flex;
    justify-content: center;
}
