.section-us{
    padding: 1em;
    overflow-x: hidden;
    
    &__header {
        color: #62BBC1;
        margin: 5px;
    }
}

.us-container {
    display: flex;
    justify-content: center;
}

.us {
    display: block;
    color: #62BBC1 ;
    font-size: 20px;
    border-radius: 10px;
    background-color: #30332E;
    padding: 10px;

    &__body {
        border-radius: 20px;
        background-color: #30332E;
        margin: .5em 4em;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 20px;
    }

    &__cards-card {
        outline: none;
        border: #374441 1px solid;
        width: 200px; 
        text-align: center;
        font-size: 16px;
        padding: 20px;
    }

    &__body ~ p {
        margin-left: 20px;
        font-size: 30px;
    }
}

